.row .col.md-4 .icr-title {
    color: #d09724 !important; 
    font-weight: 700; 
    font-size: 1.6em !important;
    font-family: "Cen725c" !important;
}
.row .col.md-4 .icr-desc {
    font-size: 1em !important;
    font-family: "Cen725c" !important;
    padding: 5px;
}
.row .col.md-4 .notes-title.mb-3 {
    color: #d09724 !important; 
    font-weight: 700; 
    font-size: 1.1em !important;
}
.footer .row .col-md-4.text-center.copyright{
    font-size: 0.8em !important;
}
.container .row .col-md-6 .desc{
    font-size: 0.7em !important;
}
.container .row .col-md-4 .desc{
    font-size: 0.7em !important;
}
.container .row .col.md-4.cen725{
    font-family: "Cen725c" !important;
}
.container .row .col.md-4.baskerville{
    font-family: "baskerville" !important;
}
.marginCertificate{
    margin-top: 40px;
}
@font-face {
    font-family: "Cen725c";
    src: url("../font/Cen725c.ttf") format("truetype");
}
@font-face {
    font-family: "baskerville";
    src: url("../font/baskervi.ttf") format("truetype");
}
@media print {
    @page {
      size: 316mm 148mm;
      margin-top: 0;
      margin-left: 0;
      margin-right: 0;
      margin-bottom: -30px;
    }
    html,
    body {
      height: 100%;
      margin: 0 !important;
      padding: 0 !important;
      overflow: hidden;
    }
}