@font-face {
    font-family: "Poppins";
    src: url("../font/Poppins-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Poppins";
    src: url("../font/Poppins-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Poppins";
    src: url("../font/Poppins-MediumItalic.ttf") format("truetype");
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: "Poppins";
    src: url("../font/Poppins-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Poppins";
    src: url("../font/Poppins-SemiBoldItalic.ttf") format("truetype");
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: "Poppins";
    src: url("../font/Poppins-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Poppins";
    src: url("../font/Poppins-BoldItalic.ttf") format("truetype");
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: "Poppins";
    src: url("../font/Poppins-ExtraBold.ttf") format("truetype");
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: "Poppins";
    src: url("../font/Poppins-ExtraBoldItalic.ttf") format("truetype");
    font-weight: 800;
    font-style: italic;
}

html{
    min-height: 100vh;
}
body{
    background: linear-gradient(246.14deg, #373737 1.68%, #121212 81.94%) no-repeat;
    font-family: 'Poppins', sans-serif;
}
.btn{
    font-weight: 700;
}
.flex-container{
    height: 10vh;
}
.navbar a{
    font-weight: 500;
    font-size: 1.2em;
}
.navbar span{
    font-weight: 500;
    font-size: 1.2em;
}
#article-paragraph{
    color: #FFD600;
    font-weight: 600;
}
#article-button{
    background-color: #FF0000;
    color: white;
}
#mengerti{
    color: #00FF19;
}
.logo-icr{
    max-width: 30vw;
}
.logo-img{
    min-width: 80px;
    width: 15%;
}
#beranda-main{
    margin-top: 1vh;
    margin-bottom: 1vh;
}
hr{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    border-top: 3px solid white;
    opacity: 1;
}
#btn-masuk{
    background-color: #87FF4F;
}
#btn-daftar{
    background-color: #6BE4FF;
}
div.container{
    margin-bottom: 10vh; 
    margin-top: 5vh;
}
.container .row .col-12 a:link {
    color: #ffc107 !important;
}
.container .row .col-12 a:hover {
    color: yellow !important;
}
.row.footer .col-sm-12.text-center.copyright{
    font-size: 0.8em !important;
}
.img-fluid.pp{
    width: 30px;
    clip-path: circle();
}
.img-fluid.img-thumbnail.profile{
    max-width: 100px;
    border-radius: 50%;
}
.nav-text{
    font-size: 1em !important;
}
@media (max-width: 1000px) {                  
    #main-nav-container{
        align-items: start !important;
        justify-content: start !important;
        height: 100%  !important;
        margin-top: 0  !important;;
    }
}
#main-nav-container .dropdown-menu {
    position: absolute !important;
}
/* #main-nav-container #notif-nav {
    align-self: start !important;
} */
#main-nav-container #notif-nav br{
    display: none;
}
.nav-text.notif-text{
    font-size: 0.7em !important;
}
.col.date{
    font-size: 0.8em; 
    color:#BEBEBE;
}
hr.req-separator{
    border-color: #ffc107;
    background-color: #ffc107;
}
.wa{
    top: 180px; 
    z-index: 9999;
}
