*,
*:before,
*:after {
  box-sizing: border-box;
}
body {
  min-width: 1300px;
  margin: 0;
  user-select: none;
}
body p {
  margin: 0;
}
#wrapper {
  position: relative;
}
.branch {
  /* border: 2px solid black; */
  position: relative;
}
.branch:before {
  content: "";
  width: 50px;
  /* border-top: 5px solid black; */
  position: absolute;
  left: -100px;
  top: 50%;
  margin-top: 1px;
}
.branch.lv1 {
  margin-left: 400px;
}
.branch.lv2 {
  margin-left: 250px;
}
.branch.lv3 {
  margin-left: 250px;
}
.entry {
  position: relative;
  min-height: 70px;
  margin-left: 40px;
}
.entry:before {
  content: "";
  height: 100%;
  /* border-left: 5px solid black; */
  position: absolute;
  left: -50px;
}
.entry:after {
  content: "";
  width: 50px;
  /* border-top: 5px solid black; */
  position: absolute;
  left: -50px;
  top: 50%;
  margin-top: 1px;
}
.entry:first-child:before {
  width: 10px;
  height: 50%;
  top: 50%;
  margin-top: 2px;
  border-radius: 10px 0 0 0;
}
.entry:first-child:after {
  height: 10px;
  border-radius: 10px 0 0 0;
}
.entry:last-child:before {
  width: 10px;
  height: 50%;
  border-radius: 0 0 0 10px;
}
.entry:last-child:after {
  height: 10px;
  border-top: none;
  /* border-bottom: 5px solid black; */
  border-radius: 0 0 0 10px;
  margin-top: -10px;
}
.entry.sole:before {
  display: none;
}
.entry.sole:after {
  width: 50px;
  height: 0;
  margin-top: 1px;
  border-radius: 0;
}
.label {
  display: block;
  max-width: 20em;
  padding: 0px;
  line-height: 1.2;
  border-radius: 5px;
  position: absolute;
  left: 0;
  margin-top: -15px;
  font-family: "Times New Roman", Times, serif;
  font-size: 0.8em !important;
}
.label .fs-6{
  font-family: "Times New Roman", Times, serif;
  font-size: 1em !important;
}
.label .fs-5{
  font-family: "Times New Roman", Times, serif;
  font-size: 1.3em !important;
}
.text-center.fs-5.red{
  font-family: Impact;
  font-size: 1.3em !important;
  color: #e62225 !important;
  font-weight: 700;
}
.text-center.fs-5.black{
  font-family: Impact;
  font-size: 1.3em !important;
  color: black !important;
  font-weight: 700;
}
.label .fs-4{
  font-family: Impact;
  font-size: 1.5em !important;
  margin-bottom: 10px;
}
.text-center.fs-4.red{
  font-family: Impact;
  font-size: 1.5em !important;
  color: #e62225 !important;
  font-weight: 700;
}
.text-center.fs-4.black{
  font-family: Impact;
  font-size: 1.5em !important;
  color: black !important;
  font-weight: 700;
}
.label .fs-7{
  font-family: "Times New Roman", Times, serif;
  font-size: .7em !important;
}
.container{
  font-family: "Times New Roman", Times, serif;
  font-size: 1.2em !important;
  width: 400px;
}
.lv1 .entry .label {
  top: 40%;
}
.lv2 .entry .label {
  top: 20%;
}
.lv3 .entry .label {
  top: 5%;
}
.red {
  font-weight: 700;
  color: #e62225 !important;
}
.black {
  font-weight: 700;
  color: black !important;
}
.canine{
  width: 250px;
  margin-top: 2px;
}
#can_a_s{
  word-wrap: break-word;
}
#main {
  top: 7%;
  min-width: 320px;
  margin-left: 10px;
}
.bg-container {
  position: absolute;
  height: 610px;
  width: 800px;
  background-image: url('../img/certificatebackgroundlogo.png');
  background-repeat: no-repeat;
  pointer-events: none;
  background-size: 100%;
  left: 450px;
  top: 0px;
  opacity: 0.3;
  -webkit-print-color-adjust: exact !important;
  print-color-adjust: exact !important;
}
.imgReplacement{
  height: 150px;
}
.president{
  bottom: 20%; 
  left: 40px;
  font-family: "Times New Roman", Times, serif;
  font-size: 1.1em !important;
  margin-left: 40px;
}
.president-name{
  bottom: 4%; 
  left: 120px;
  font-family: "Times New Roman", Times, serif;
  font-size: 1.1em !important;
  margin-left: 40px;
}