*, *:before, *:after {
    box-sizing: border-box;
  }
  
  body {
    min-width: 1200px;
    margin: 0;
    user-select: none;
  }

  body p {
    margin: 0;
  }
  
  #wrapper {
    position: relative;
  }
  
  .branch {
    position: relative;
    margin-left: 320px;
  }
  .branch:before {
    content: "";
    width: 50px;
    border-top: 5px solid black;
    position: absolute;
    left: -100px;
    top: 50%;
    margin-top: 1px;
  }
  
  .entry {
    position: relative;
    min-height: 100px;
    /* max-height: 200px; */
  }
  .entry:before {
    content: "";
    height: 100%;
    border-left: 5px solid black;
    position: absolute;
    left: -50px;
  }
  .entry:after {
    content: "";
    width: 50px;
    border-top: 5px solid black;
    position: absolute;
    left: -50px;
    top: 50%;
    margin-top: 1px;
  }
  .entry:first-child:before {
    width: 10px;
    height: 50%;
    top: 50%;
    margin-top: 2px;
    border-radius: 10px 0 0 0;
  }
  .entry:first-child:after {
    height: 10px;
    border-radius: 10px 0 0 0;
  }
  .entry:last-child:before {
    width: 10px;
    height: 50%;
    border-radius: 0 0 0 10px;
  }
  .entry:last-child:after {
    height: 10px;
    border-top: none;
    border-bottom: 5px solid black;
    border-radius: 0 0 0 10px;
    margin-top: -9px;
  }
  .entry.sole:before {
    display: none;
  }
  .entry.sole:after {
    width: 50px;
    height: 0;
    margin-top: 1px;
    border-radius: 0;
  }
  
  .label {
    display: block;
    /* min-width: 150px; */
    max-width: 13em;
    padding: 5px 10px;
    line-height: 1.2;
    /* text-align: center; */
    /* border: 2px solid black; */
    border-radius: 5px;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -15px;
  }
  
  .red{
    font-weight:700; 
    color: #e62225 !important;
  }
  .black{
    font-weight:700; 
    color: black !important;
  }