{% extends "template/backend.twig" %}
{% block styles %}

{% endblock %}

{% block body %}


<div class="content bg-image overflow-hidden" style="background-image: url('http://www.somepets.com/wp-content/gallery/hd-animal-background-wallpaper/1920x1200-black-Dog-HD-Animal-Wallpaper.jpg');">
                    <div class="push-50-t push-15">
                        <h1 class="h2 text-white animated zoomIn">Halaman Ini</h1>
                        <h2 class="h5 text-white-op animated zoomIn">{{tes}} Sedang Dalam Pembangunan</h2>
                    </div>
                </div>
{% endblock %}

{% block scripts %}

{% endblock %}
