input{
  margin-top: 0px;
}
#prefetch input:focus{
  color: #222;
  border-radius: 3px;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}
#prefetch .empty-message{
  padding: 5px 10px;
  text-align: center;
  width: auto;
}
.twitter-typeahead{
  display: block !important;
}
.tt-menu{
  width: 100%;
  border: .2px solid grey;
  margin-top: 5px;
  border-radius: 3px;
}
.tt-dataset{
  display: block; overflow:auto;
  width: auto;
  max-height: 150px;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}
.eac-item{
  width: auto;
}
.eac-item ul{
  margin-bottom: 10px;
  clear: both;
}
